body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
h1 {
    font-size: 24px;
    color: #333;
}
.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #800000;
    border:none ;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.button:hover {
    background-color: #B22222;
}
.button.remove {
    background-color: #f44336;
}
.button.remove:hover {
    background-color: #e53935;
}
.mensagem {
 color: green;
 font-weight:bold;
}
.titulo{
    position: absolute;
    margin-top: 100%;
    color:rgb(233, 13, 13)

}